<?xml version="1.0"?>
<robot name="holonomicdrive" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>


  <xacro:macro name="default_inertial" params="mass">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </xacro:macro>

  <xacro:property name="robot_width" value = "${0.75}"/>
  <xacro:property name="robot_length" value = "${0.75}"/>

<link name="base_link">
    <visual>
      <geometry>
        <box size = "${robot_width} ${robot_length} 0.2"/>
      </geometry>
      <material name = "white"/>
      <origin xyz = "0 0 0" rpy = "0 0 0"/>
    </visual> 
    <collision>
      <geometry>
        <box size = "${robot_width} ${robot_length} 0.2"/>
      </geometry>
      <origin xyz = "0 0 0" rpy = "0 0 0"/>
    </collision>
    <xacro:default_inertial mass="8"/>
  </link>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

</robot>